{% extends 'main/base.html' %}

{% block title %}
    Назначить задачу
{% endblock %}

{% block content %}
    <h2 style="text-align: center">{{ title }}</h2><br>
    <form method="post">
        {% csrf_token %}
        {{ form.data }}<br>
        {{ form.name }}<br>
        {{ form.description }}<br>
        {{ form.planned_time }}<br>
        <button type="submit" class="btn btn-success">{{ button_name }}</button>
        <a href="{% url 'users' %}" class="btn btn-danger">Отмена</a>
        <span style="color: black; margin-left: 30px"> {{ error }}</span>
    </form>
{% endblock %}
