{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h2 style="text-align: center">Пользователи</h2> <br>
    <div class="container">
    {% csrf_token %}
        <table class="table table-bordered " id="table" style="text-align: center">
        {% for user in users %}
            <tr class="table table-striped-columns ">
                <td colspan="2" class="text-center text-bg-light">{{ forloop.counter }}</td>
                <td colspan="2" class="text-center username">{{ user.username }}</td>
                <td colspan="2"  class="text-end text-bg-light ">
                    <a onclick="window.location.href='{% url 'assign_task' pk=user.id %}'" class="btn light btn-outline-secondary ">Назначить задачу</a>
                    {% if perm.delete_user %}<a class="btn btn-danger delete-user">Удалить пользователя</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
        {% if perm.add_user %}
        <div class="col text-center">
        <button class="btn btn-outline-dark" style="text-align: center" onclick="window.location.href='{% url 'add_user' %}'">Добавить нового пользователя</button>
        </div>
        {% endif %}
        <br><br>
    </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        let url = '{% url 'delete_user' %}';
        $(".delete-user").click(function () {
            let username = $(this).parents('tr').find('td.username').text().trim();
            window.location.href = url + '?username=' + username;
        });
    });
</script>
{% endblock %}
