<!doctype html>
<html lang="ru" xmlns:xlink="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} {% endblock %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><button onclick="window.location.href='{% url 'home' %}'" class="nav-link px-2 link-dark">Задачи</button></li>
          {% if user.is_superuser %}
        <li><button onclick="window.location.href='{% url 'users' %}'" class="nav-link px-2 link-dark">Пользователи</button></li>
          {% endif %}
        <li><button onclick="window.location.href='{% url 'report' %}'" class="nav-link px-2 link-dark">Отчёт</button></li>
      </ul>
      <div class="col-md-3 text-end">
          {% if user.is_authenticated %}
        <button type="button" class="btn btn-outline-primary me-2">
            <a class="nav-link px-2 link-blue" onclick="window.location.href='{% url 'logout' %}?next=/login/'">Выход</a>
        </button>
            <button type="button" class="btn btn-primary">
            <a onclick="window.location.href='{% url 'change' %}'" class="nav-link px-2 link-blue">Сменить пароль</a>
        </button>
          {% endif %}
      </div>
    </header>
  </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    {% block javascript %} {% endblock %}
</body>
</html>