{% extends 'main/base.html' %}

{% block title %}
Создать задачу
{% endblock %}

{% block content %}
    <h2 style="text-align: center">{{ title }}</h2><br>
    <form method="post">
        {% csrf_token %}
        {{ form.date }}<br>
        {{ form.name }}<br>
        {{ form.description }}<br>
        {{ form.planned_time }}<br>
        <button type="submit" class="btn btn-primary">{{ button_name }}</button>
        <button onclick="window.location.href='{% url 'home' %}'" class="btn btn-outline-dark">Отмена</button>
        <span style="color: black; margin-left: 30px"> {{ error }}</span>
    </form>
{% endblock %}
