{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h2 style="text-align: center">Текущие задачи ({{ user.first_name }})</h2>
    <div class="container">
    {% if tasks %}
    {% csrf_token %}
    <form method="get">
        <div class="col-md-6">
            <div class="form-group">
                <select id="date-subject" name="date" class="form-control-sm custom-select">
                    <option {% if selected_date is None %} selected {% endif %} disabled>Выберите дату</option>
                    {% for date in dates %}
                        <option value="{{date|date:"Y-m-d"}}" {% if selected_date == date %}selected{% endif %}>{{date}}</option>
                    {% endfor %}
                </select>
                {% if selected_date %}
                <a class="ms-1 text-danger" onclick="window.location.href='./'" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                </a>
                {% endif %}
            </div>
        </div>
    </form>
        <table class="table table-bordered" id="table" style="text-align: center">
        <br>
        <thead class="table-primary">
            <tr>
                <th scope="col" class="align-middle">№</th>
                <th scope="col" class="align-middle">Название</th>
                <th scope="col" class="align-middle">Описание</th>
                <th scope="col" class="align-middle">Плановое время <br>выполнения</th>
                <th scope="col" class="align-middle">Фактическое время <br>выполнения</th>
                <th scope="col" class="align-middle">Причины расхождений</th>
                <th scope="col" class="align-middle">Прогресс</th>
                <th></th>
            </tr>
        </thead>
        {% for el in tasks %}
            {% if el.is_past_due %}
            <tr {% if el.is_completed %}
                    class="table-success"
            {% elif not el.is_today and el.on_delete %}
                    class="table-warning"
            {% elif not el.is_today and not el.on_delete %}
                    class="table-info"
            {% else %}
                    class="table-danger"
            {% endif %}>
                <td> {{ forloop.counter }}</td>
                <td>{{ el.name }}</td>
                <td>{{ el.description }}</td>
                <td>{{ el.planned_time }}</td>
                <td>{{ el.actual_time }}</td>
                <td>{{ el.reason }}</td>
                <td>{{ el.progress }}</td>
                <td> {% if not el.is_completed and el.is_today %}
                    <button onclick="window.location.href='{% url 'edit' pk=el.id %}'" class="btn btn-class-outline-info shadow-none" style="margin-bottom: 5px; margin-top: -5px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </button><br>
                    <button onclick="window.location.href='{% url 'complete' pk=el.id %}'" class="btn btn-danger">Завершить задачу</button>
                    {% elif not el.is_today and el.on_delete and not el.is_completed %}
                   <button onclick="window.location.href='{% url 'edit' pk=el.id %}'" class="btn btn-class-outline-info shadow-none" type="button" style="margin-bottom: 5px; margin-top: -5px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                     </button>
                    <br>
                        <button onclick="window.location.href='{% url 'delete' pk=el.id %}'" class="btn btn-danger">Удалить задачу</button>
                    {% elif not el.is_today and not el.on_delete and not el.is_completed %}
                    Задача назначена<br>администратором
                    {% else %}
                    Завершено
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% else %}
        <p>У вас нет запланированных задач!</p>
    {% endif %}
     <div class="col text-center">
        <button class="btn btn-outline-dark" style="text-align: center" onclick="window.location.href='{% url 'create' %}'">Создать задачу</button>
     </div><br><br>
    </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
    $("#date-subject").change(function () {
        $(this).parents('form').submit();
    });
});
</script>
{% endblock javascript %}