{% extends 'main/base.html' %}
{% load filters %}

{% block content %}
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="{{ week.urls.prev }}" aria-label="Предыдущая неделя">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link disabled bg-primary text-white" href="#">{{ week.start|date:"d.m.Y" }} - {{ week.end|date:"d.m.Y" }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ week.urls.next }}" aria-label="Следующая неделя">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <table id="report" class="table table-striped-columns border border-start-0 border-end-0 border-black">
        <tr>
            <th class="text-center" style="width: 4rem">Дата</th>
            {% for user in users %}
                <th class="text-center border-start border-black">{{ user.first_name }} {{ user.last_name }}</th>
            {% endfor %}
        </tr>
        {% for day in days %}
            <tr>
                <th class="text-center">{{ data|lookup:day|lookup:'date'|date:"d.m" }}</th>
                {% for user in users %}
                    <td class="border-start border-black">
                        {% for task in data|lookup:day|lookup:'tasks' %}
                            {% if task.user == user %}
                                {{ task.name }} [<span title="Фактическое время">{{ task.actual_time }}</span> / <span title="Запланированное время">{{ task.planned_time }}</span>]<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}